.footer {
  padding: 80px 0;
  background-color: var(--light-green);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 130px;
    @include tablet {
      flex-wrap: wrap;
      gap: 40px;
    }
    @include mobile {
      justify-content: center;
    }
  }

  &__nav-list {
    display: flex;
    gap: 20px;
  }

  &__nav-link {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease-in-out;
    @include hover {
      background-color: var(--orange);
      color: var(--white);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }
    &:active {
      color: var(--black);
    }
  }

  &__tel {
    padding: 8px;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 133%;
    text-transform: uppercase;
    color: var(--black);
    transition: all 0.3s ease-in-out;
    @include hover {
      background-color: var(--orange);
      color: var(--white);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }
    &:active {
      color: var(--black);
    }
  }

  &__address {
    max-width: 173px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: var(--black);
  }
}

.social {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    transition: all 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      position: absolute;
      inset: 0;
    }
    &:hover svg rect {
      transition: all 0.3s ease-in-out;
      stroke: var(--green);
    }
    &:hover svg path {
      transition: all 0.3s ease-in-out;
      fill: var(--green);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      border-radius: 8px;
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
