.header {
  padding: 16px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 142px;
  }

  &__cart {
    padding: 5px;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &__link {
    padding: 5px 10px;
    line-height: 129%;
    color: var(--black);
    transition: all 0.3s ease-in-out;

    @include hover {
      color: var(--white);
      background-color: var(--orange);
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }

    &:active {
      color: var(--black);
    }

    @include mobile {
      color: var(--white);
    }
  }

  @include mobile {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 0 0 12px 12px;
    padding: 80px;
    width: 100%;
    height: 100vh;
    background-color: var(--green);
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.5s ease-in;
    backdrop-filter: blur(6px);
  }
}

.cart {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    transition: all 0.3s ease-in-out;

    @include hover {
      border-radius: 50%;
      background-color: var(--orange);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--gray);
      outline-offset: 2px;
      border-radius: 50%;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }

    @include hover {
      svg path {
        stroke: var(--white);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @include mobile {
    svg path {
      stroke: var(--white);
    }

    order: 1;
  }
}

.burger {
  display: none;

  @include mobile {
    @include burger;

    z-index: 3000;
    display: block;
  }
}

.nav.menu--active {
  z-index: 2000;
  visibility: visible;
  transform: none;
}
