.hero {
  margin-bottom: var(--sect-offset);
  padding-top: 100px;
  padding-bottom: 30px;
  color: var(--white);
  background-color: var(--green);

  @include tablet {
    padding-top: 65px;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    gap: 30px;

    @include tablet {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__content {
    max-width: 675px;
  }

  &__users {
    display: flex;
    margin-bottom: 20px;
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-weight: 700;
    font-size: clamp(0.875rem, 0.6528rem + 1.1111vw, 1.5rem);
    line-height: 117%;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    color: var(--black);
    background-color: var(--white);

    span {
      font-size: 400px;
      font-size: clamp(0.5rem, 0.4111rem + 0.4444vw, 0.75rem);
    }

    &:not(:first-child) {
      margin-left: -20px;

      @include tablet {
        margin-left: -10px;
      }
    }

    @include tablet {
      width: 50px;
      height: 50px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: clamp(2.5rem, 1.9667rem + 2.6667vw, 4rem);
    line-height: 117%;
    text-transform: uppercase;

    span {
      font-style: italic;
      color: var(--light-green);
    }

    @include mobile {
      margin-bottom: 14px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 32px;
    max-width: 490px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 132px;
    height: 132px;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.5639rem + 1.5556vw, 1.75rem);
    line-height: 100%;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--orange);
    background-color: var(--white);
    transform: rotate(-14deg);
    transition: all 0.3s ease-in-out;

    @include hover {
      color: var(--white);
      background-color: var(--orange);
      transform: rotate(0deg) scale(1.05);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--gray);
      outline-offset: 2px;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }

    @include tablet {
      width: 114px;
      height: 114px;
    }

    @include mobile {
      width: 68px;
      height: 68px;
    }
  }

  &__image {
    @include tablet {
      align-self: center;
    }
  }

  &__img {
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    max-width: 266px;
    gap: 8px;
  }

  &__tag-link {
    border: 1px solid #f9f7f4;
    border-radius: 1000px;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    text-transform: uppercase;
    color: #f9f7f4;
    transition: all 0.3s ease-in-out;

    @include hover {
      color: var(--black);
      background-color: #f9f7f4;
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--gray);
      outline-offset: 2px;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }
  }
}
