.products {
  margin-bottom: var(--sect-offset);

  &__content {
    display: flex;
    align-items: center;
    border-radius: 80px;
    padding: 44px 64px;
    background-image: url("../img/steps-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--beige);
    gap: 70px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px 80px;
      gap: 40px;
    }

    @include mobile {
      padding: 80px 20px;
    }
  }

  &__title {
    margin: 0;
    max-width: 437px;

    @include tablet {
      max-width: 544px;
      text-align: center;
    }
  }

  &__green,
  &__orange {
    font-style: italic;
    color: var(--green);
  }

  &__orange {
    color: var(--orange);
  }
}
