.recall {
  margin-bottom: var(--sect-offset);
  &__content {
    display: flex;
    align-items: center;
    gap: 77px;
    @include tablet {
      flex-wrap: wrap;
      gap: 80px;
      justify-content: center;
      @include mobile {
        gap: 40px;
      }
    }
  }

  &__action {
    max-width: 609px;
    @include tablet {
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 523px;
    margin: 0;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 133%;
    @include tablet {
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
      max-width: 499px;
    }
  }

  &__input {
    padding: 15px 105px 15px 24px;
    border: 1px solid rgba($color: #141414, $alpha: 0.3);
    border-radius: 100px;
    width: 350px;
    height: 48px;
    color: var(--black);
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 129%;
      letter-spacing: -0.04em;
      color: #c1bdbd;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--green);
      // outline-offset: 2px;
    }
    @include mobile {
      width: 80%;
    }
  }

  &__btn {
    border: 1px solid transparent;
    position: relative;
    z-index: 10;
    margin-left: -100px;
    border-radius: 100px;
    padding: 15px 35px;
    width: 105px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--orange);
    transition: all 0.3s;
    @include hover {
      width: 120px;
      background-color: var(--green);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--green);
      outline-offset: 2px;
    }
    &:active {
      transform: scale(0.95);
      color: var(--black);
    }
  }

  &__image {
    border-radius: 80px;
    background-color: var(--light-green);
    background-image: url("../img/steps-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
