%heading {
  letter-spacing: -0.04em;
  color: var(--black);
}

.heading-1 {
  @extend %heading;

  font-weight: 500;
  font-size: clamp(1.5rem, 1.1444rem + 1.7778vw, 2.5rem);
  line-height: 110%;
  text-transform: uppercase;
}

.heading-2 {
  @extend %heading;

  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
}

.heading-3 {
  @extend %heading;
}

.heading-4 {
  @extend %heading;
}
