.mb-small {
  margin-block-end: 20px;
}
.mb-medium {
  margin-block-end: 30px;
}
.mb-large {
  margin-block-end: 40px;
}
.mb-huge {
  margin-block-end: 80px;
}

// Margin left
.ml-small {
  margin-inline-start: 20px;
}
.ml-medium {
  margin-inline-start: 30px;
}
.ml-large {
  margin-inline-start: 40px;
}
.ml-huge {
  margin-inline-start: 80px;
}
// Margin right
.mr-small {
  margin-inline-end: 20px;
}
.mr-medium {
  margin-inline-end: 30px;
}
.mr-large {
  margin-inline-end: 40px;
}
.mr-huge {
  margin-inline-end: 80px;
}
