<section class="basket">
  <div class="container">
    <div class="basket__content">
      <div class="basket__title-box">
        <h2 class="basket__title">
          To order your vegetable basket, simply follow these easy steps
        </h2>
        <img class="basket__img" src="img/basket.jpg" alt="basket image" width="410" height="170">
      </div>
      <div class="basket__descr">
        <p class="basket__text">
          Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of
          fresh fruit without ever leaving your home.
        </p>
        <p class="basket__text">
          Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
  </div>
</section>
