<section class="discount">
  <h2 class="visually-hidden">Discount title</h2>
  <!-- <div class="container"> -->
  <div class="discount__content">
    <div class="marquee">
      <div class="marquee__item marquee__item--orange">
        <p class="marquee__text">
          Discount up to <span>40%!</span> Taste the vitamins and keep
          your health Discount up to <span>40%!</span> Taste the vitamins and keep
          your health Discount up to <span>40%!</span> Taste the vitamins and keep
          your health Discount up to <span>40%!</span> Taste the vitamins and keep
          your health
        </p>
      </div>
      <div class="marquee__item marquee__item--green">
        <p class="marquee__text marquee__text--green">
          Discount up to <span>40%!</span> Taste the vitamins and keep
          your health Discount up to <span>40%!</span> Taste the vitamins and keep
          your health Discount up to <span>40%!</span> Taste the vitamins and keep
          your health
        </p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
