<section class="modal">
  <div class="container">
    <div class="modal__wrapper">
      <div class="modal__inner">
        <button class="modal__close btn-reset" type="button">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 7L7 21" stroke="#141414" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M7 7L21 21" stroke="#141414" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

        </button>
        <h2 class="modal__title heading-1">Your Order</h2>
        <div class="modal__content">
          <ul class="modal__list list-reset">
            <li class="modal__item">
              <div class="modal__check">
                <label class="custom-checkbox">
                  <input type="checkbox" class="custom-checkbox__field">
                  <span class="custom-checkbox__content"></span>
                </label>
              </div>
              <div class="modal__item-info">
                <h3 class="modal__item-title">Cabbage Basket</h3>
                <p class="modal__item-text">Plant</p>
              </div>
              <img src="img/modal/item-1.png" alt="" class="modal__item-img" width="243" height="200" />
            </li>
            <li class="modal__item">
              <div class="modal__check">
                <label class="custom-checkbox">
                  <input type="checkbox" class="custom-checkbox__field">
                  <span class="custom-checkbox__content"></span>
                </label>
              </div>
              <div class="modal__item-info">
                <h3 class="modal__item-title">Tomato Basket</h3>
                <p class="modal__item-text">Plant</p>
              </div>
              <img src="img/modal/item-2.png" alt="" class="modal__item-img" width="243" height="200" />
            </li>
            <li class="modal__item">
              <div class="modal__check">
                <label class="custom-checkbox">
                  <input type="checkbox" class="custom-checkbox__field">
                  <span class="custom-checkbox__content"></span>
                </label>
              </div>
              <div class="modal__item-info">
                <h3 class="modal__item-title">Vegetables Basket</h3>
                <p class="modal__item-text">Plant</p>
              </div>
              <img src="img/modal/item-1.png" alt="" class="modal__item-img" width="243" height="200" />
            </li>
          </ul>
          <div class="modal__bottom">
            <form action="#" class="form">
              <div class="form__group">
                <input type="text" id="name" name="name" class="form__input" required>
                <label for="name" class="form__label">Enter full name...</label>
              </div>
              <div class="form__group">
                <input type="email" id="email" name="email" class="form__input" required>
                <label for="email" class="form__label">Enter email...</label>
              </div>
              <div class="form__group">
                <input type="text" id="card" name="card" class="form__input" required>
                <label for="card" class="form__label">Enter card...</label>
              </div>
              <div class="form__group">
                <textarea id="comments" name="comments" class="form__textarea"></textarea>
                <label for="comments" class="form__label">Enter comments...</label>
              </div>
              <button type="submit" class="form__btn btn-reset">Submit</button>
            </form>
            <div class="modal__bottom-image">
              <img src="img/modal/bottom.png" alt="" class="modal__bottom-img" width="444" height="413" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
