<section class="organic">

  <div class="container">
    <h2 class="organic__title heading-1">organic vegetables</h2>
    <p class="organic__text">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get the freshest and most nutritious produce possible.
    </p>
    <div class="organic__content">
      <ul class="organic__list list-reset">
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Carrot</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-1.png" alt="Carrot image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">100 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Brussel sprouts</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-2.png" alt="Brussel sprouts image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">60 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Tomato</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-3.png" alt="Tomato image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">90 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Eggplant</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-4.png" alt="Eggplant image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">60 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Sweet potatoes</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-5.png" alt="Sweet potatoes image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">80 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Leek</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-6.png" alt="Leek image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">40 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Mushrooms</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-7.png" alt="Mushrooms image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">60 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Corn</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-8.png" alt="Corn image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">40 UAH / kg</p>
          </a>
        </li>
        <li class="organic__item">
          <a href="#!" class="organic__link">
            <h3 class="organic__item-title heading-2">Radish</h3>
            <p class="organic__item-descr">Plant</p>
            <div class="organic__image">
              <img class="organic__item-img" src="img/organic/organic-9.png" alt="Radish image">
              <div class="organic__shadow">&nbsp;</div>
            </div>
            <p class="organic__price">40 UAH / kg</p>
          </a>
        </li>
      </ul>
    </div>
    <button class="organic__btn btn-reset"><span class="organic__btn-icon">
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14 2.15073L11.9259 0.0766602V10.447L1.55556 0.0766602L0 1.63222L10.3704 12.0026H0L2.07407 14.0767H14V2.15073Z"
            fill="white" />
        </svg>
      </span> Order</button>
  </div>
</section>
