<section class="recall" id="vegetables">
  <div class="container">
    <div class="recall__content">
      <div class="recall__action">
        <h2 class="recall__title heading-1">Fresh Harvest Box has got you covered</h2>
        <p class="recall__text">
          Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or
          support local farmers. Order your box today and start enjoying the best that nature has to offer!
        </p>
        <input type="tel" class="recall__input input-reset" placeholder="+ 380 () " />
        <button type="submit" class="recall__btn btn-reset">Recall</button>
      </div>
      <div class="recall__image">
        <img class="recall__img" src="img/recall-bg.png" alt="Recall image" width="525" height="499">
      </div>
    </div>
  </div>
</section>
