<section class="steps">

  <div class="container">
    <div class="steps__content">
      <img src="img/step.png" alt="Smiling girl with vegetables" class="steps__img" width="434" height="420" />
      <div class="steps__descr">
        <h2 class="steps__title heading-1">3 Easy Steps for Buying Fresh Vegetables</h2>
        <ul class="steps__list list-reset">
          <li class="steps__item">
            <p class="steps__text">Just choose the vegetable you want to order by clicking on the checkboxes next to it.
            </p>
          </li>
          <li class="steps__item">
            <p class="steps__text">Click on the basket and fill out the form.</p>
          </li>
          <li class="steps__item">
            <p class="steps__text">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
